<h1 style="margin-bottom: 20px;"> Testes de Integração com o MoIP</h1>

<ul>
	<li><%= link_to 'Pagamento Unico', :action=>:pagamento_unico %></li>
	<li><%= link_to 'Checkout Transparente', :action=>:checkout_transparente %></li>
</ul>