<div class="page-header">
	<h1>Testes de Integração com o MoIP</h1>
</div>

<ul>
	<li><%= link_to 'Pagamento Unico', :action=>:pagamento_unico %></li>
	<li><%= link_to 'Checkout Transparente', :action=>:checkout_transparente %></li>
	<li><%= link_to 'Autorizar ou Cancelar Pedido', :action=>:autorizar_ou_cancelar_pedido %></li>
</ul>