<div class="page-header">
	<h1>Testes de Integração com Meios de Pagamento</h1>
</div>

<ul class="nav nav-pills">
	<li><%= link_to "MoIP", { :controller => 'moip', :action => 'index' } %></li>
	<li><%= link_to "PayPal", { :controller => 'paypal', :action => 'index' } %></li>
	<li><%= link_to "Loja Virtual", { :controller => 'loja_virtual', :action => 'index' } %></li>
</ul>