<div class="page-header">
	<h1>Loja Virtual</h1>
</div>

<ul class="nav nav-tabs nav-stacked" style="width: 300px;">
	<li><%= link_to "Comprar Festa", :action => 'lista' %></li>
	<li><%= link_to "Cancelar Festa", :action => 'cancelar_festa' %></li>
	<li><%= link_to "Listar Pedidos", :action => 'lista_pedidos' %></li>
</ul>

<%= link_to "Voltar", { :controller => 'home', :action => 'index' }, :class => "btn" %>